@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    clear: both;
    content: '';
    display: table;
}

header{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}

.title{
    margin-bottom: 40px;
    color: rgb(186, 44, 94);
}

section{
    width: 80%;
    margin: auto;
    margin-top: 60px;
}

.container{
    padding: 0 20px 50px;
    float: left;
    width: calc( 100% / 3 );
}

.box{
    float: left;
    background-color: rgb(15, 14, 23);
    width: 100%;
}

.text{
    float:left;
    margin-top: 10px;
    color: white;
    margin-left: 5px;
}

.text :is(h3, p:first-of-type){
    margin-bottom: 10px;

}


img{
    float: left;
    height: 100px;
}

.mail{
    color: rgb(99, 179, 206);
}